.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input, button {
    border: none;
    border-radius: 30px !important;
}